.concertCard {
  height: auto;
  width: 50%;
  background-color:rgb(112, 164, 240);
  border-radius: 5px;
  margin: 5px;
  word-wrap: normal;
  text-align: center;
  color:dimgrey;
}

.attendShowButton {
  border: none;
  margin-top: 2px;
  margin-bottom: 5px;
  color:dimgrey;
  border-radius: 5px;
}

.location, .date, .venue, .title {
  margin: 0;
}