.concertCard {
  height: auto;
  width: 50%;
  background-color:rgb(167 193 190);
  border-radius: 5px;
  margin: 5px;
  word-wrap: normal;
  text-align: center;
  color:dimgrey;
}

.attendShowButton {
  border: none;
  height: 20px;
  margin-top: 2px;
  margin-bottom: 10px;
  color:dimgrey;
  border-radius: 5px;
  
}

.attendShowButton:hover {
  color: black;
} 

.location, .date, .venue, .title {
  margin: 0;
  font-size: 8pt;
  color:white;
}

.artistName {
  font-size: 16pt;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}