.eventCard {
  height: auto;
  width: 50%;
  background-color:rgb(167 193 190);
  border-radius: 5px;
  margin: 5px;
  word-wrap: normal;
  text-align: center;
  color:dimgrey;
}

.deleteEventButton {
  border: none;
  margin-top: 2px;
  margin-bottom: 5px;
  color:dimgrey;
  border-radius: 5px;
}

.location, .date, .venue, .title {
  margin: 0;
  font-size: 8pt;
}

.lineUp {
  color: blanchedalmond;
  margin-top: 2px;
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: 5px;
}
