.concertContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-color: rgb(233, 245, 241);
}
