.navbar {
	height: 20vh;
	/* width: 100%; */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: cornflowerblue;
}

.searchBar {
	display: flex;
	align-items: center;
	/* justify-content: center; */
}

.saveButtonWrapper {
	display: flex;
	align-items: center;
}

.saveButtonWrapper a {
	text-decoration: none;
	color: black;
}

.saveButtonWrapper a:hover {
cursor: pointer;
}

.logoWrapper {
	display: flex;
	align-items: center;
}

.logoWrapper a {
	text-decoration: none;
	color: black;
}

.searchInput {
	border: none;
	border-radius: 5px;
	color: dimgrey;
}

.submitButton {
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	color: dimgrey;
}

.submitButton:hover {
cursor: pointer
}
