.navbar {
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: cornflowerblue;
}

.searchBar {
	display: flex;
	align-items: center;
}

.saveButtonWrapper {
	display: flex;
	align-items: center;
}

.saveButtonWrapper a {
	text-decoration: none;
	color: black;
}

.saveButtonWrapper a:hover {
cursor: pointer;
}

.logoWrapper {
	display: flex;
	align-items: center;
}

.logoWrapper h1 {
	margin: 10px 10px 5px 10px;
}

.logoWrapper a {
	text-decoration: none;
	color: black;
}

.searchInput {
	border: none;
	border-radius: 5px;
	color: dimgrey;
	text-align: center;
	height: 20px;
}

.submitButton {
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	color: dimgrey;
}

.submitButton:hover {
cursor: pointer
}

@media screen and (max-width: 509px) {
	.navbar {
		height: 150px;
		flex-direction: column;
		align-items: center;
	}
	
}