.navbar {
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: black;
}

.searchBar {
	display: flex;
	align-items: center;
}

.saveButtonWrapper {
	display: flex;
	align-items: center;
}

.saveButtonWrapper a {
	text-decoration: none;
	color:blanchedalmond;
	border: .5px solid blanchedalmond;
	border-radius: 6px;
}

.saveButtonWrapper a:hover {
cursor: pointer;
color: white;
background-color: rgb(48, 48, 48);
}

.savedEventsButton {
	height: 25px;
	width: 125px;
	text-align: center;
}
.savedEventsButton p {
	margin-top: 3px;
}

.logoWrapper {
	display: flex;
	align-items: center;
}

.logoWrapper h1 {
	margin: 10px 10px 5px 10px;
	color: blanchedalmond;
}

.logoWrapper a {
	text-decoration: none;
	color: black;
}

.searchInput {
	border: none;
	border-radius: 5px;
	color: dimgrey;
	text-align: center;
	height: 20px;
}

.submitButton {
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	color: dimgrey;
}

.submitButton:hover {
cursor: pointer;
background-color: rgb(198, 197, 197)
}

@media screen and (max-width: 509px) {
	.navbar {
		height: 150px;
		flex-direction: column;
		align-items: center;
	}
	
}