.artistInfoContainer {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

img {
  width: 100%;
  object-fit: content;
}
.bandImageWrapper {
  width: 50%;
}

.artistName {
  text-align: center;
}
