.artistInfoContainer {
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(199, 199, 199);
}

img {
 height: 100%;
 border-radius: 50%;

}

.bandImageWrapper {
  margin: 10px;
}

.artistDetails {
display: flex;
flex-direction: column;
justify-content: center;
margin: 0;
}

.artistName {
  text-align: center;
  font-size: 5.5em;
  margin: 0;
}

.artistLinks li {
margin: 0;
}


