

.welcomeContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  background-image: url(./IMG_0477.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  color:rgb(255, 255, 255);
}

.welcomeMessage {
  
}


.welcomeContainer h2 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.welcomeContainer h3 {
  margin-top: 3px;
  margin-bottom: 0;
}
